extends base.pug

block script
    script
      include ../static/index.js

block style
    style
      include ../static/style.css


block content
    nav#navbar 
        ul 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact ]
    
    section#introSection 
        div.bgBlack 
            div Dance Academy 
            div.small Join Us
    section#sponsorsSection
        h2 Our Sponsor's
        div#sponsors
            div.icon 
                img(src="../static/logo/alibaba.png", alt="", srcset="") 
            div.icon 
                img(src="../static/logo/microsoft.png", alt="", srcset="") 
            div.icon 
                img(src="../static/logo/google.png", alt="", srcset="") 
            div.icon 
                img(src="../static/logo/amazon.webp", alt="", srcset="")